{% extends 'base.html' %}
{% load static %}

{% block title %}Parceiros - Mearim Valley{% endblock %}

{% block content %}
<section id="parceiros" class="fundo-verde" role="region" aria-labelledby="parceiros-titulo" style="margin-top: 110px;">
  <div class="titulo-secao">
    <hr>
    <h2 id="parceiros-titulo">Conheça nossos parceiros!</h2>
    <hr>
  </div>
  <div class="parceiros-grid" id="lista-parceiros">
    <!-- Parceiros serão inseridos via JavaScript -->
  </div>
  <div class="parceiros-botao">
    <a href="{% url 'criar-parceiro' %}" class="botao-link">QUERO SER PARCEIRO</a>
  </div>
</section>
{% endblock %}


{% block script %}
<script>
  const container = document.getElementById('lista-parceiros')

  async function GetParceiros() {
    const url = 'http://127.0.0.1:8000/api/parceiros/'
    const resp = await fetch(url)
    if (resp.ok) {
      const data = await resp.json()
      data.forEach(parceiro => {
        const div = document.createElement('div')
        div.classList.add('parceiro-box')
        div.innerHTML = `
            ${parceiro.logo_empresa 
                ? `<img src="${parceiro.logo_empresa}" alt="Logo de ${parceiro.nome_empresa}">`
                : `<div style='height:100px'>Sem logo</div>`
            }
            <p>${parceiro.nome_empresa}</p>        `
        container.appendChild(div)
      })
    } else {
      container.innerHTML = '<p>Erro ao carregar parceiros.</p>'
    }
  }

  GetParceiros()
</script>
{% endblock %}
