{% extends 'base.html' %}
{% load static %}

{% block title %}Notícias - Mearim Valley{% endblock %}

{% block content %}
<main>
  <section id="noticias" class="fundo-verde" role="region" aria-labelledby="noticias-titulo" style="margin-top: 110px;">
    <div class="titulo-secao" style="text-align:center;">
      <hr>
      <h2 id="noticias-titulo">Notícias</h2>
      <hr>
    </div>
    <div class="noticias-cards-container" id="lista-noticias"></div>
  </section>
</main>
{% endblock %}

{% block script %}
<script>
  const container = document.getElementById('lista-noticias')

  async function GetNoticias() {
    const url = 'http://127.0.0.1:8000/api/noticias/'
    try {
      const resp = await fetch(url)
      if (resp.ok) {
        const data = await resp.json()
        data.forEach(noticia => {
          const div = document.createElement('div')
          div.classList.add('noticia-card')

          div.innerHTML = `
            <div class="noticia-card-title">${noticia.titulo}</div>
            ${noticia.foto 
              ? `<img src="${noticia.foto}" alt="${noticia.titulo}">`
              : `<div style="height:150px; background:#f4f4f4; display:flex; align-items:center; justify-content:center;">Sem imagem</div>`
            }
            <div class="noticia-card-content">
              <div class="noticia-card-desc">
                ${noticia.texto.substring(0, 30)}...
              </div>
              <a href="/noticias/${noticia.id}/" class="noticia-card-btn">Saiba Mais</a>
            </div>
          `
          container.appendChild(div)
        })
      } else {
        container.innerHTML = '<p>Erro ao carregar notícias.</p>'
      }
    } catch (e) {
      console.error(e)
      container.innerHTML = '<p>Erro na conexão com a API.</p>'
    }
  }

  GetNoticias()
</script>
{% endblock %}
