{% extends 'base.html' %}
{% load static %}

{% block title %}Notícias - Mearim Valley{% endblock %}

{% block content %}
<main>
  <section id="noticias" class="fundo-paginas" role="region" aria-labelledby="noticias-titulo" style="margin-top: 110px;">
    <div class="titulo-secao" style="text-align:center;">
      <hr>
      <h2 id="noticias-titulo">Notícias</h2>
      <hr>
    </div>
    <div class="noticias-cards-container">
      <div class="noticia-card">
        <div class="noticia-card-title">Notícia 1</div>
        <img src="{% static 'noticia1.png' %}" alt="Notícia 1">
        <div class="noticia-card-content">
          <div class="noticia-card-desc">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </div>
          <a href="#" class="noticia-card-btn">Saiba Mais</a>
        </div>
      </div>
      <div class="noticia-card">
        <div class="noticia-card-title">Notícia 2</div>
        <img src="{% static 'noticia2.png' %}" alt="Notícia 2">
        <div class="noticia-card-content">
          <div class="noticia-card-desc">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </div>
          <a href="#" class="noticia-card-btn">Saiba Mais</a>
        </div>
      </div>
      <div class="noticia-card">
        <div class="noticia-card-title">Notícia 3</div>
        <img src="{% static 'noticia3.png' %}" alt="Notícia 3">
        <div class="noticia-card-content">
          <div class="noticia-card-desc">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </div>
          <a href="#" class="noticia-card-btn">Saiba Mais</a>
        </div>
      </div>
    </div>
  </section>
</main>
{% endblock %}

{% block script %}
<script>
  async function GetNoticias() {
    const ul = document.getElementById('lista-noticias')
    const resp = await fetch('http://127.0.0.1:8000/api/noticias/')
    if (resp.ok) {
      const data = await resp.json()
      data.forEach(noticia => {
        const li = document.createElement('li')
        li.innerHTML = `<strong>${noticia.titulo}</strong>`
        ul.appendChild(li)
      })
    } else {
      ul.innerHTML = "<li>Erro ao carregar notícias.</li>"
    }
  }
  GetNoticias()
</script>
{% endblock %}
