<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Página FrontEnd</h2>
    <h3>Criar Noticias</h3>
    <h2>Cadastro de Notícias</h2>
    <form id="formulariopost" action="" method="post" enctype="multipart/form-data">
      <label for="foto">Foto</label>
      <input type="file" name="foto" id="foto" />

      <label for="titulo">Título</label>
      <input type="text" name="titulo" id="titulo" required />

      <label for="texto">Texto</label>
      <input type="text" name="texto" id="texto" required />
    </form>
    <script>
        async function GetNoticias(event) {
            event.preventDefault()
            
            try{
                const resp = await fetch('http://127.0.0.1:8000/api/noticias/',{
                    method : POST,
                })
            }catch(error){
                console.log('Erro de Requisição')
                console.log(error)
            }
        }
    </script>
</body>
</html>
</body>
</html>