<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Página FrontEnd</h2>
    <h3>Exibir Noticias</h3>
    <li id="lista-noticias"></li>
    <a href="http://127.0.0.1:8000/noticias/create/"> <button>CRIAR NOTICIA</button></a>
    <script>
        async function GetNoticias() {
            const li = document.getElementById('lista-noticias')
            const resp = await fetch('http://127.0.0.1:8000/api/noticias/')
            if(resp.status === 200){
                const data = await resp.json()
                console.log(data)
                data.forEach(element => {
                    const p = document.createElement('p')
                    p.textContent = element.titulo
                    li.appendChild(p)

                });
            }
        }
        GetNoticias()
    </script>
</body>
</html>