{% extends "base.html" %}
{% load static %}

{% block title %}Sobre - Mearim Valley{% endblock %}

{% block content %} 
  <section style="margin-top: 110px;" class="fundo-paginas">
    <div class="sobre-card">
      <h1>Sobre a Mearim Valley</h1>
      <p>
        A Mearim Valley é uma organização sem fins lucrativos que promove o desenvolvimento do ecossistema de inovação e tecnologia na região do Médio Mearim, no Maranhão. Atuando como uma ponte entre startups, universidades, empresas e governo, a Mearim Valley estimula a colaboração, a capacitação profissional e o empreendedorismo inovador por meio de ações estratégicas, eventos e parcerias que impulsionam o crescimento sustentável da comunidade local.
      </p>
      <img src="{% static 'imagem-ilustrativa.png' %}" alt="Aperto de mãos" style="width: 650px; margin-top: 24px; border-radius:12px; box-shadow:0 2px 8px rgba(0,0,0,0.08);">
    </div>
  </section>
{% endblock %}