<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Página FrontEnd</h2>
    <h3>Exibir parceiros</h3>
    <li id="lista-parceiros"></li>
    <!-- <button>QUERO SER PARCEIRO</button> leva pra uma página que exibe formulário de inscrição para novos parceiros -->
    <a href="http://127.0.0.1:8000/api/parceiros"><Button>QUERO SER PARCEIRO</Button></a>
    <script>
        const li = document.getElementById('lista-parceiros')
        async function GetParceiros() {
            const url = 'http://127.0.0.1:8000/api/parceiros'
            const resp = await fetch(url)
            if(resp.status === 200){
                const data = await resp.json()
                data.forEach(parceiro => {
                    const ul = document.createElement('li')
                    ul.textContent = parceiro.nome_empresa
                    li.appendChild(ul)
                });
            }
        }

        GetParceiros()
    </script>
</body>
</html>